<p>
	<h1><strong>Drunken Renderings:</strong></h1>
	<%= @post.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @post.text %>
</p>

<h2>Assorted Snark:</h2>
	<%= render @post.comments %>

<h2>Add your snarky comeback here:</h2>
<%= render "comments/form" %>


<%= link_to 'Edit fabulousness.', edit_post_path(@post) %> <br>
<%= link_to 'Take me home, Daaaahling', posts_path %>